@font-face {
  font-family: "DarkSouls";
  src: url('/fonts/OptimusPrinceps.ttf');
}

input, button{
  border-color: #FFBF00;
  border-style: solid;
  border-width: 5px;
  background-color: #FFDF80;
  box-shadow: 0 0 3px #CC0000;
  color: #4D342A;
}

button{
  cursor: pointer;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: 2s;
}

#page{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 2s;
}

#dead{
  font-family: "DarkSouls";
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

#d_img_wrapper{
  position: relative;
  text-align: center;
  left: 0;
  top: 0;
  max-height: calc(100% - 5em);
}

#dead_img{
  width: 100%;
}

#dead_msg{
  position: absolute;
  color: white;
  text-align: center;
  color: #c84414;
  font-size: 60px;
  bottom: 0;
  width: 100%;
}

#showRole h1{
  text-align: center;
}

#showRole{
  text-align: justify;
}

#role_img_wrapper{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  vertical-align: bottom;
  line-height: 0;
  display: inline-block;
}

@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px){

#role_description{
  background-color: inherit;
  font-size: 20px;
}



}

#role_img{
  width: 100%;
  max-width: 600px;
}